<!DOCTYPE html>
<html lang=“en”>
	<head>
		<meta charset=“utf-8”>
		<title>Results</title>
	</head>
	<link rel="stylesheet" type="text/css" href="style.css">

	<body>
		<!Page-content>
		<h1>My blog</h1>
		<p> This is a <em>really</em> <span>[1]</span> cool paragraph! Check out my <strong>favorite</strong> <a href = "https://adicu.com"> website</a>
		</p>
		<ul class="special">
			<li>First <em>item</em></li>
			<li>Second item</li>
			hello world
		</ul>
		<ul>
			<li>First item</li>
			<li>Second item</li>
		</ul>
	</body>
</html>